<<<<<<< HEAD
@CHARSET "UTF-8";

=======
>>>>>>> aca3866bd4a888301b793ded309101c3a1d531a5
div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
<<<<<<< HEAD
	margin-bottom: 5px;
=======
	margin-bottom: 10px;
>>>>>>> aca3866bd4a888301b793ded309101c3a1d531a5
}

.header {
	position: relative;
	width: 99%;
	height: 60px;
	margin-bottom: 30px;
	margin-top: -20px;
	padding-left: 10px;
	background-color: #668284;
}
<<<<<<< HEAD

#name {
	float: left;
=======
#name {
	float:left;
>>>>>>> aca3866bd4a888301b793ded309101c3a1d531a5
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}
<<<<<<< HEAD

#link {
	float: left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 14px;
	font-family: Tahoma, sans-serif;
	color: darkred;
	text-decoration: none;
}

#image {
	float: right;
	margin-right: 5px;
	padding-top: 15px;
	text-decoration: none;
	border-style: none;
}

#email {
	float: right;
=======
#backButton{
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
}

#email{
	float:right;
>>>>>>> aca3866bd4a888301b793ded309101c3a1d531a5
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
	color: darkgreen;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	color: darkgreen;
}
<<<<<<< HEAD

a {
	text-decoration: none;
}

a:visited {
=======
a{
	text-decoration: none;
}
a:visited{
>>>>>>> aca3866bd4a888301b793ded309101c3a1d531a5
	color: violet;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
<<<<<<< HEAD

#table {
	table-layout: auto;
	border-style: solid;
	margin-left: 100px;
}

#table th {
	border-bottom-style: solid;
	border-bottom-color: darkgreen;
}

td {
	padding-right: 10px;
	text-align: left 
}
=======
#table {
	table-layout: auto;
	border-style: groove;
}
#table th{
		border-bottom-style: groove;
}
td{
	padding-right: 10px;
}
>>>>>>> aca3866bd4a888301b793ded309101c3a1d531a5
